{% extends 'events/base.html' %}

{% block content %}
    <br>
    <h2>My Events</h2>
    <br>
    {% for event in events %}
    <div class="card">
        <div class="card-header">
            {{ event }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Venue: {{ event.venue }}</h5>
            <ul>
                <li>Date: {{ event.event_date }}</li>
                <li>Venue WebSite: <a href="{{ event.venue.web }}">Ir para página</a></li>
                <li>Manager: {{ event.manager }}</li>
                <li>Description: {{ event.description }}</li>
                <li>attendees: <br>
                    {% for user in event.attendees.all %}
                        {{ user }} <br>
                    {% endfor%}
                </li>
            </ul>
        
        </div>
        {% if user.is_authenticated %}
            {% if user == event.manager %}
                <div class="card-footer">
                    
                        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Deletar</a>
                    
                </div>
            {% endif %}
        {% endif %}
    </div>
    <br>

    {% endfor %}




{% endblock %}