<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <!--Manda para um mes do calendario-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' '2022' 'February' %}">Calendar</a>
          </li>

          <!--Eventos-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'list-events'  %}">Eventos</a></li>
              <li><a class="dropdown-item" href="{% url 'add-event'  %}">Add Events</a></li>
             </ul>
          </li>
          
          <!--Venues-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Venues
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'list-venues'  %}">Venues</a></li>
              <li><a class="dropdown-item" href="{% url 'add-venue'  %}">Add Venue</a></li>
             </ul>
          </li>

          <!--Arquivos venue-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Donwload
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'venue-text'  %}">Venue textFile</a></li>
              <li><a class="dropdown-item" href="{% url 'venue-csv'  %}">Venue Csv</a></li>
              <li><a class="dropdown-item" href="{% url 'venue-pdf'  %}">Venue Pdf</a></li>
             </ul>
          </li>
    
          
          


          <!--Botao de login e logout ele verifica se o usuario esta conectado ou nn-->
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'  %}">Logout</a>
            </li>
          {% else %}
            <!--Registro de usuario-->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register-user'  %}">Register</a>
            </li>
            <!--Login do usuario-->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'  %}">Login</a>
            </li>
          {% endif %}
          
          
        </ul>
        <form class="d-flex" method=POST action="{% url 'search-venues' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>