{% extends 'events/base.html' %}

{% block content %}
    <br>
    <div class="card">
        <div class="card-header">
            {% if searched %}
                You Searched For {{ searched }}
            {% else %}
                Search Events...
            {% endif %}
        </div>
        <div class="card-body">

            <form class="d-flex" method=POST action="{% url 'search-events' %}">
                {% csrf_token %}
            
                <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
            <br>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>

    <br>
    <table class="table table-striped table-hover table-bordered">
        {%  for event in events %} 
            <div class="card">
                <div class="card-header">
                    {{ event }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Venue: {{ event.venue }}</h5>
                    <ul>
                        <li>Date: {{ event.event_date }}</li>
                        <li>Venue WebSite: <a href="{{ event.venue.web }}">Ir para página</a></li>
                        <li>Manager: {{ event.manager }}</li>
                        <li>Description: {{ event.description }}</li>
                        <li>attendees: <br>
                            {% for user in event.attendees.all %}
                                {{ user }} <br>
                            {% endfor%}
                        </li>
                    </ul>
                
                </div>
                {% if user.is_authenticated %}
                    {% if user == event.manager %}
                        <div class="card-footer">
                            
                                <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                                <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Deletar</a>
                            
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br>               
        {% endfor %}
    </table>

{% endblock %}